.CodeMirror-vscrollbar{
    overflow-x: hidden;
    overflow-y: hidden;
}
.CodeMirror-hscrollbar{
    overflow-x: hidden;
    overflow-y: hidden;
}

.cm-s-default .cm-keyword {color: #708;}
.cm-s-default .cm-atom {color: #219;}
.cm-s-default .cm-atom-2 {color: #397;}
.cm-s-default .cm-atom-3 {color: #fa1;}
.cm-s-default .cm-number {color: #164;}
.cm-s-default .cm-def {color: #00f;}
.cm-s-default .cm-variable {color: #019dff;}
.cm-s-default .cm-punctuation {}
.cm-s-default .cm-operator{color:#49ADFF}
.cm-s-default .cm-property{color:rgb(135, 134, 150)}
.cm-s-default .cm-variable-2 {color: #05a;}
.cm-s-default .cm-variable-3 {color: #085;}
.cm-s-default .cm-comment {color: #a50;}
.cm-s-default .cm-string {color: #a11;}
.cm-s-default .cm-string-2 {color: #f50;}
.cm-s-default .cm-meta {color: #555;}
.cm-s-default .cm-qualifier {color: #555;}
.cm-s-default .cm-builtin {color: #30a;}
.cm-s-default .cm-bracket {color: #997;}
.cm-s-default .cm-tag {color: #170;}
.cm-s-default .cm-attribute {color: #00c;}
.cm-s-default .cm-header {color: blue;}
.cm-s-default .cm-quote {color: #090;}
.cm-s-default .cm-hr {color: #999;}
.cm-s-default .cm-link {color: #00c;}